:root {
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
/*text cl*/

--accent-cl: #2196F3;
--main-txt-cl: #212121;
--secondary-txt-cl:#757575;
--footer-txt-cl:rgba(255, 255, 255, 0.6);
/*var(--accent-cl) #2196F3; */
/*bcg cl*/
--main-bg-cl:#ffffff;
--secondary-bg-cl:#2F303A;
--btn-bg-cl: #2196F3;
--section-bg-cl:#F5F4FA;


}
body{
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing:0,03em;
    position: absolute;
    color:var(--main-txt-cl) ;
    background-color: var(--main-bg-cl);
    font-weight: 400;
    font-style: normal;
    

/*logo*/
}
.logo{
color: var(--accent-cl);
font-family:var(--secondary-font);
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    

    

}
.logo .logoright{
    color: var(--main-txt-cl);

    
}
.footer.logoright{
    color: var(--main-bg-cl);
}

.link{
    list-style-type: none;
    text-decoration: none;
    
}
/*header*/
.contacts .link {
    color: var(--secondary-txt-cl);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.mail.link:focus {
    color: var(--accent-cl);
}

.mail.link:hover {
    color: var(--accent-cl);
}

.tel.link:focus {
    color: var(--accent-cl);
}

.tel.link:hover {
    color: var(--accent-cl);
}
.site-nav{
    color: var(--main-txt-cl);       
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.site-nav:hover,
:focus {
    color: var(--accent-cl);   

}
.current{
    color: var(--accent-cl);
}



.header{
    background-color: var(--main-bg-cl);
}
.hidden{
    display: none;
}
/*section container*/
.hero.button{
background-color:var(--btn-bg-cl);
color:#ffffff;
border: #2196F3;
font-size: 16px;
}
.hero.button:hover{
background-color:  #188CE8;
}
.hero.button:focus {
    background-color: #188CE8;
}

/* hero */
.hero{
    background-color: var(--secondary-bg-cl);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
}
/* Преимущества */
.section-title{
color: var(--main-txt-cl);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.text{
    color:var(--secondary-txt-cl);
        font-weight: 400;
        line-height: 1.71;
       
}
/* Чем мы занимаемся */
.box.title{
    color: var(--main-txt-cl);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
}
section.team{
    background-color: var(--section-bg-cl);
}
.team.title{
    color: var(--main-txt-cl);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
}
.team-name{
    color: var(--main-txt-cl);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.9;   
        text-align: center;
}
.team.text{
    color: var(--secondary-txt-cl);
    font-size: 16px;
        line-height: 1.9;             
        text-align: center;
}
.footer{
    background-color: var(--secondary-bg-cl);
}
/* не працює letter-spac. */
.link.text{
    font-style: normal;
    
}
.address-text{
    color: var(--main-bg-cl);
}
.address-text:hover{color: var(--accent-cl);}
.address-text:focus{
    color: var(--accent-cl);
}
.footer-mail{
    color: var(--footer-txt-cl);

}
.footer-tel{
    color: var(--footer-txt-cl);

}
.footer-mail:hover{
    color: var(--accent-cl);
}
.footer-mail:focus {
    color: var(--accent-cl);
}
.footer-tel:hover {
    color: var(--accent-cl);
}

.footer-tel:focus {
    color: var(--accent-cl);
}

/* portfolio */
.examples.link a{
    text-decoration: none;
    
}
.examples h2 {
    color: var(--main-txt-cl);
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.examples p{
    color: var(--secondary-txt-cl);
    font-size: 16px;
        line-height: 1.88;
        
}

/* buttons */
.features button{
    background-color: var(--section-bg-cl);
    border: var(--section-bg-cl);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        
    
        text-align: center;

}
.features button:hover{
    background-color: var(--btn-bg-cl);
    border: var(--btn-bg-cl);
    color: var(--main-bg-cl);
}